@media all and (min-width: 480px) {
    .Login {
        text-align: center;
        padding: 60px 0;
        display: block;

    }
    
    .Login form {
        margin: 0 auto;
        max-width: 320px; 
        padding: 5px; 
        width: 200px;
        height: 20px; 
        border: 2px ;
        border-radius: 5px;
        display: block;
    }
    

    .Login label{
        margin-top: 10px;
        display: block;
        font-size: 12px;
        font-weight: bolder;
    }
    
    .Login input{
        box-sizing:border-box;
        padding-bottom: 0 auto;
        border-radius: 10px;
        font-size: 15px;
    }

    .Login button {
        margin-top: 50px;
        margin-left: 25px;
        background-color: #9966ff;
        margin-right: 25px;
        font-size: 15px;
        min-width: 10px;
        border: 2px solid #9966ff;
        border-radius: 5px;
      }

      .formErrors {
        color: #e80c4d;
        font-weight: bold;
        font-size: 12px;

      }
      
    
  }