@media all and (min-width: 480px) {
.addButton{
    background-color: #9966ff;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    min-width: 10px;
    border: 2px solid #9966ff;
    border-radius: 5px;
    
}
.addButtonBox{
    text-align: center;
}
}